/* var scss */

// font size
$fontSizeSmallest : 1.1rem;
$fontSizeSmall : 1.4rem;
$fontSizeNormal : 1.6rem;
$fontSizeMid : 1.8rem;
$fontSizeBig : 2rem;

// title size
$titleSizeSmall : 2rem;
$titleSizeNormal : 2.2rem;
$titleSizeMid : 2.6rem;
$titleSizeBig : 2.8rem;

// font color
$fontColorBasic : #000;
$fontColorMain : #333;
$fontColorSub : #666;
$fontColorLight : #999;

// primary color
$greenColor : #47ad1a;
$orangeColor : #f0831f;

// button color
$buttonColor : #47ad1a;