/* common scss */
/* var scss */
/* 
z-index

.mobile_menu : 100;
.search_menu : 120;

*/
/* skip nav */
#skip {
  position: relative;
}

#skip a {
  position: absolute;
  left: 0;
  top: -35px;
  width: 140px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #999;
  border: 1px solid #fff;
  background-color: #333;
}

#skip a:active, #skip a:focus {
  top: 0;
}

.mobile_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  left: -100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 100;
}

.mobile_menu.on {
  left: 0;
  opacity: 1;
}

.mobile_menu .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../img/sprite_img.png");
  background-position: -346px -8px;
  cursor: pointer;
}

.mobile_menu .title {
  font-size: 2rem;
  padding-top: 60px;
  padding-left: 30px;
}

.mobile_menu .title em {
  font-weight: 500;
  border-bottom: 2px solid #47ad1a;
  color: #47ad1a;
}

.mobile_menu .menu {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.mobile_menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.mobile_menu .menu ul li {
  -webkit-box-flex: 85.3px;
      -ms-flex: 85.3px;
          flex: 85.3px;
}

.mobile_menu .menu ul li span {
  font-size: 1.1rem;
}

.mobile_menu .menu ul li a .icon {
  display: block;
  width: 33px;
  height: 30px;
  margin: 0 auto 10px;
  background-image: url("../img/sprite_img.png");
}

.mobile_menu .menu ul li a .icon01 {
  background-position: -123px -545px;
}

.mobile_menu .menu ul li a .icon02 {
  background-position: -240px -546px;
}

.mobile_menu .menu ul li a .icon03 {
  background-position: -84px -545px;
}

.mobile_menu .menu ul li a .icon04 {
  width: 27px;
  background-position: -165px -545px;
}

.mobile_menu .line {
  width: 100%;
  height: 9px;
  background: #f4f4f4;
}

.mobile_menu .info {
  padding: 30px 0;
  margin: 0 30px;
  border-bottom: 1px solid #ebebeb;
}

.mobile_menu .info .title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
}

.mobile_menu .info ul {
  overflow: hidden;
}

.mobile_menu .info ul li {
  float: left;
  width: 50%;
  height: 46px;
  line-height: 46px;
  background-image: url("../img/right_arrow.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 12px 12px;
}

.mobile_menu .info ul li a {
  display: block;
  font-size: 1.4rem;
}

.mobile_menu .help {
  margin: 0 30px;
  padding: 30px 0;
}

.mobile_menu .help .title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
}

.mobile_menu .help ul li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed #dfdfdf;
}

.mobile_menu .help ul li a {
  position: relative;
  font-size: 1.4rem;
  padding-left: 40px;
  color: #666;
}

.mobile_menu .help ul li a span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/sprite_img.png");
}

.mobile_menu .help ul li a span.icon01 {
  background-position: -5px -165px;
}

.mobile_menu .help ul li a span.icon02 {
  background-position: -30px -165px;
}

.mobile_menu .help ul li a span.icon03 {
  background-position: -56px -165px;
}

.mobile_menu .help ul li a span.icon04 {
  background-position: -79px -165px;
}

.mobile_menu .help ul li a span.icon05 {
  background-position: -105px -165px;
}

.mobile_menu .mobile_user_menu {
  padding: 0 30px 150px;
  overflow: hidden;
}

.mobile_menu .mobile_user_menu ul {
  float: left;
  margin-top: 6px;
}

.mobile_menu .mobile_user_menu ul li {
  position: relative;
  float: left;
  margin-right: 15px;
}

.mobile_menu .mobile_user_menu ul li:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -8px;
  width: 1px;
  height: 12px;
  background: #ccc;
}

.mobile_menu .mobile_user_menu ul li:last-child:after {
  display: none;
}

.mobile_menu .mobile_user_menu ul li a {
  font-size: 1.1rem;
  color: #666;
}

.mobile_menu .mobile_user_menu .login {
  float: right;
  width: 67px;
  height: 27px;
  line-height: 27px;
  font-size: 1.1rem;
  text-align: center;
  color: #666;
  border: 1px solid #ccc;
}

.search_menu {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100%;
  padding: 0 15px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 120;
}

.search_menu.on {
  left: 0;
  opacity: 1;
}

.search_menu .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../img/sprite_img.png");
  background-position: -346px -8px;
  cursor: pointer;
}

.search_menu .title {
  font-size: 2rem;
  padding-top: 65px;
  margin-bottom: 24px;
}

.search_menu .search {
  position: relative;
}

.search_menu .search input {
  width: 100%;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.search_menu .search button {
  position: absolute;
  right: 0;
  top: 2px;
  width: 24px;
  height: 23px;
  background-image: url("../img/sprite_img.png");
  background-position: -38px -7px;
  cursor: pointer;
}

.search_menu .recomend {
  margin-top: 32px;
}

.search_menu .recomend .title {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 15px 0;
}

.search_menu .recomend ul {
  overflow: hidden;
}

.search_menu .recomend ul li {
  float: left;
  margin-right: 3px;
}

.search_menu .recomend ul li a {
  display: inline-block;
  font-size: 1.1rem;
  color: #999;
  padding: 9px 8px;
  border: 1px solid #ccc;
}

.search_menu .banner {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 15px;
  text-align: center;
}

.search_menu .banner .bg {
  padding: 30px 0;
  background-image: url("../img/search_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search_menu .banner .bg .title {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding: 0px 0 0 0;
  margin-bottom: 10px;
}

.search_menu .banner .bg a {
  position: relative;
  font-size: 1.1rem;
  padding-right: 18px;
}

.search_menu .banner .bg a .icon {
  position: absolute;
  top: 1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/right_arrow.png");
  background-size: contain;
}

.container {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header */
header .htop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

header .mobile_btn {
  display: inline-block;
  width: 19px;
  height: 17px;
  margin-top: 16px;
  background-image: url("../img/sprite_img.png");
  background-position: -9px -10px;
  background-size: 500px;
  cursor: pointer;
}

header #logo {
  width: 50px;
  margin-left: 30px;
}

header #logo h1 {
  margin-top: 7px;
}

header #logo img {
  width: 100%;
}

header .user_menu ul {
  overflow: hidden;
}

header .user_menu ul li {
  float: left;
  margin-top: 2px;
}

header .user_menu ul li a {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/sprite_img.png");
  margin-top: 10px;
}

header .user_menu ul li a.search {
  background-position: -39px -7px;
}

header .user_menu ul li a.shopping_basket {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  background-position: -70px -6px;
}

header .hbottom {
  width: 100%;
  height: 43px;
  line-height: 43px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

header .hbottom.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

header .hbottom #nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .hbottom #nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

header .hbottom #nav ul li a {
  font-size: 1.4rem;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .fmenu ul {
  overflow: hidden;
  display: inline-block;
}

footer .fmenu ul li {
  position: relative;
  float: left;
  padding-right: 22px;
  font-size: 10px;
  color: #666;
  line-height: 1.4;
}

footer .fmenu ul li.first {
  padding-left: 16px;
}

footer .fmenu ul li:last-child {
  padding-right: 0;
}

footer .fmenu ul li:last-child:after {
  display: none;
}

footer .fmenu ul li:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 20%;
  width: 1px;
  height: 12px;
  background: #c6c6c6;
}

footer .fmenu ul li strong {
  color: #333;
}

footer .fmenu ul li em {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

footer .fmenu ul li .icon {
  position: absolute;
  top: 1px;
  left: 0px;
  display: inline-block;
  width: 12px;
  height: 11px;
  background-image: url("../img/sprite_img.png");
  background-position: -423px -285px;
}

footer .info {
  margin-top: 20px;
}

footer .copyright {
  margin-top: 16px;
  color: #666;
}

footer .select {
  margin: 10px 0;
}

footer .select select {
  width: 165px;
  height: 32px;
  font-size: 1.1rem;
  padding-left: 10px;
  border-radius: 16px;
  border: 1px solid #c6c6c6;
  color: #666;
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 10px;
}

footer .footer_logo {
  width: 43px;
  margin: 0 auto;
}

footer .footer_logo img {
  width: 100%;
}

.btn_normal {
  width: 100px;
  height: 35px;
  font-size: 1.1rem;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: #47ad1a;
}

.new {
  width: 26px;
  height: 26px;
  line-height: 26px;
  background: #f0831f;
  color: #fff;
  border-radius: 100%;
}

.heart {
  width: 17px;
  height: 15px;
  background-image: url("../img/sprite_img.png");
  background-position: -5px -83px;
}

.arrow_btn {
  position: relative;
  font-size: 1.4rem;
}

.arrow_btn:after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0px;
  width: 19px;
  height: 19px;
  background-image: url("../img/sprite_img.png");
  background-position: -194px -82px;
}
